* {
    box-sizing: border-box;
}

html {
    background: #202020;
    color: #fff;
    font-family: 'Lato', sans-serif;

    &.is-infobox-active {
        overflow: hidden;
    }
}

img {
    max-width: 100%;
    height: auto;
}

#main {
    min-height: calc(100vh - 162px);
}
